<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protfilio</title>
    <link rel="shortcut icon" href="{{brand.favicon.url}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,800&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body>

<!-- Start of the navbar -->
<nav class="white">
    <div class="container">
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">
              <img src="{{brand.logo.url}}" width="150" alt="logo">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger dark-text">
                <i class="fas fa-bars"></i>
            </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down pl-2">
                <li><a href="{% url 'home' %}">בית</a></li>
                <li><a href="{% url 'aboutus' %}">עלינו</a></li>
                <li><a href="{% url 'service' %}">שירותים</a></li>
                <li><a href="{% url 'portfolio' %}">תיק עבודות</a></li>
                <li><a href="{% url 'contact' %}">צור קשר</a></li>
            </ul>
        </div>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">בית</a></li>
    <li><a href="{% url 'aboutus' %}">עלינו</a></li>
    <li><a href="{% url 'service' %}">שירותים</a></li>
    <li><a href="{% url 'portfolio' %}">תיק עבודות</a></li>
    <li><a href="{% url 'contact' %}">צור קשר</a></li>
</ul>
<!-- End of the navbar -->

<!-- Start of the banner section -->
<div class="row banner section-padding-a" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),url({{banner.banner_image.url}});">
    <div class="col l12">
        <h2 class="center title">{{banner.heading}}</h2>
    </div>
</div>
<!-- End of the banner section -->

<!-- Start of the project section -->
    <div class="container">
        <div class="row  projects section-padding-a">
            {% for project in projects %}
            <div class="col l4" data-aos="fade-up">
                <div class="card card-shadow">
                    <div class="card-image">
                        <img class="responsive-img" src="{{project.image.url}}" alt="">
                    </div>
                    <div class="card-content center-align">
                        <a href="{% url 'project_detail' project.category project.id %}"
                            class="heading-small dark-text">{{project.title}}</a>
                        <p class="paragraph-small">{{project.category}}</p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        </div>
    </div>
<!-- End of the project section -->

<!-- Start new project -->
    <div class="grey lighten-4">
        <div class="container">
            <div class="row flex flex-center section-padding-a-min">
                <div class="col l9" data-aos="fade-up">
                    <h4 class="heading-two">נשמח לשמוע על הפרויקט החדש שלך</h4>
                </div>
                <div class="col l3" data-aos="fade-up">
                    <a href="{% url 'contact' %}" class="my-btn">התחל פרויקט חדש<i class="fas fa-1x fa-long-arrow-alt-left mr-1"></i></a>
                </div>
            </div>
        </div>
    </div>

<!-- End new project -->

<!-- Start of the footer section -->
<footer class="bgm-dark">
    <div class="container">
      <div class="row section-padding-a">
        <div class="col l3 right right-align">
          <a href="{% url 'home' %}">
            <img src="{{brand.logo.url}}" width="180" class="responsive-img" alt="">
          </a>
          <p>מהעסקים המהימנים בעולם ועד סטארט-אפים, אנו עוזרים ביצירת חוויות המותג של העתיד באמצעות תרבות יצירתית המושרשת ביזמות ושיתוף פעולה עם שותפים</p>
        </div>
        <div class="col l3 right right-align">
          <h6 class="footer-heading mb-2">צור קשר עם מידע</h6>
          <p class="mt-1">רחוב פאולוס הששי 102, קומה 3
            נצרת, ישראל</p>
          <p class="mt-1">info@nazadv.com<br/>972-533065330+</p>
        </div>
        <div class="col l3 right right-align">
          <h6 class="footer-heading mb-2">קישורים נוספים</h6>
          <a href="{% url 'service' %}" class="footer-link">אסטרטגיית מותג</a>
          <a href="{% url 'service' %}" class="footer-link">זהות מותג</a>
          <a href="{% url 'service' %}" class="footer-link">שיווק דיגיטלי</a>
          <a href="{% url 'service' %}" class="footer-link">עיצוב ופיתוח אתרים</a>
          <a href="{% url 'service' %}" class="footer-link">תקשורת מעוצבת</a>
          <a href="{% url 'service' %}" class="footer-link">הפקת וידאו</a>
        </div>
      </div>
    </div>
    <div class="bottom-footer bgm-light-dark">
      <div class="container">
        <div class="row section-padding-a-min">
          <div class="col l12">
            <span class="footer-p">© 2020 All rights reserved by NAZADV</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- End of the footer section -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>